{% extends 'base.html.twig' %}

{% block body %}
    <h1>Licorne list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Race</th>
                <th>Type de pelage</th>
                <th>Couleur des yeux</th>
                <th>Type de corne</th>
                <th>Habitat</th>
                <th>Date de capture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for licorne in licornes %}
            <tr>
                <td><a href="{{ path('licorne_show', { 'id': licorne.id }) }}">{{ licorne.id }}</a></td>
                <td>{{ licorne.nom }}</td>
                <td>{{ licorne.categorie.nom }}<img src="{{ asset(licorne.categorie.image) }}" alt="Image de {{ licorne.nom }} qui prend la pose !"></td>
                <td>{{ licorne.typePelage }}</td>
                <td>{{ licorne.couleurYeux }}</td>
                <td>{{ licorne.typeCorne }}</td>
                <td>{{ licorne.habitat }}</td>
                <td>{% if licorne.datePrise %}{{ licorne.datePrise|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('licorne_show', { 'id': licorne.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('licorne_edit', { 'id': licorne.id }) }}">modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('licorne_delete', { 'id': licorne.id }) }}">supprimer</a>
                        </li>
                        <li>
                            <a href="{{ path('commentaire_new', { 'licorneId': licorne.id }) }}">ajouter un commentaire</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('licorne_new') }}">Create a new entry</a>
            <a href="{{ path('commentaire_new') }}">ajouter un commentaire</a>
        </li>
    </ul>
{% endblock %}
