{% extends 'base.html.twig' %}

{% block body %}
    <h4>Donnez-lui un nom !</h4>

    {{ form_start(form.nom) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        <input type="submit" value="Create" />
    {{ form_end(form.nom) }}

    <ul>
        <li>
            <a href="{{ path('licorne_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
