{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des commentaires</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Licorne</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td><a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">{{ commentaire.id }}</a></td>
                <td>{{ commentaire.contenu }}</td>
                <td>{{ commentaire.licorne }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentaire_new') }}">Creer un nouveau commentaire</a>
        </li>
    </ul>
    <a href="../licorne"><button>Jouer avec les licornes</button></a>
    <a href="../licornecategorie"><button>Gerer les categories [ADMIN]</button></a>
{% endblock %}
